.first{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    background: linear-gradient(to right , #56E8F2 , #5B86E5);
  }


.sawo{
  margin-top: 3%;
  /* position: fixed; */
  overflow: hidden;
}