.blurShit{
    background : rgba(84, 84, 84, 0.25);
    backdrop-filter: blur(25px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
}

.modalBackground{
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modalContainer{
    width: 650px;
    height: 500px;
    border-radius: 12px;
    background-color: rgba(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
} */

.modal{
    align-items: center;
}

.modalContent textarea{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 2%;
    padding: 1% 1%;
    border: none;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
}

.modalFooter{
    display: flex;
    justify-content:space-around;
    margin: 3%;
}

.closeBtn{
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  color: antiquewhite;
  background: linear-gradient(to right , #56E8F2 , #5B86E5);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Language{
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    color: antiquewhite;
    background: linear-gradient(to right , #56E8F2 , #5B86E5);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

textarea:focus::placeholder{
    padding-left: 5px;
    color: black;
    transition: all 0.3s ease;
  }