*{
  padding: 0;
  margin: 0;
}

.blur{
  background: linear-gradient(to right , #56E8F2 , #5B86E5);
}

.navBar{
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.2% 0.2%; */
  width: 100%;

  z-index: 1;
  background : rgba(255, 255, 255,0.25);
  backdrop-filter: blur(15px);
}

.logo-button{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navBarLogo{
  height:45px;  
  width: 145px;
}

.navContent li{
  display: inline-block;
  padding: 0% 30px;
}

.navContent li a{
  transition: all 0.3s ease 0s;
}

a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.navContent li a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navContent li a:hover{
  color: white;
}

.navContent li a:hover:after{
  width: 100%;
}

.loginButton{
  background: #4163ef;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 100px;
  padding: 0;
}

.loginButton:hover{
  background-color: white;
  color: #3D64FF;
  transition: 0.3s;
}