.hero-container{
  height: 100%;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
  object-fit: contains;
  background: linear-gradient(to right , #56E8F2 , #5B86E5);
}

.hero-container > h1 {
  color: antiquewhite;
  font-size: 250%;
  margin-top: 3%
} 

.hero-container > p {
  color: antiquewhite;
  font-size: 200%;
}