
.footer{
  background: linear-gradient(to right , #56E8F2 , #5B86E5);
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.glass{
  /* glass effect */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  /* styling */
  display: flex;
  justify-content: center;
  width: 360px;
  padding: 3%;
}

.feedback-form h1{
  padding: 10px;
  font-size: 25px;
}

.feedback-container{
  display: flex;
  justify-content: center;
  padding: 1px;
}

.input-field{
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);

  width: 100%;
  height: 50px;
  margin: 4px 0px;
  padding: 0px 15px;
}

.feedback-container textarea{
  padding: 5px 15px;
  border: none;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
}

.feedback-form{
  width: 100%;
  text-align: center;
}

.feedback-container button{
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: antiquewhite;
  padding: 10px 0px;
  width: 100%;
}

h3{
  display: flex;
  justify-content: center;
  color: antiquewhite;
}

form input:focus::placeholder,
form textarea:focus::placeholder{
  padding-left: 5px;
  color: black;
  transition: all 0.3s ease;
}

.contact-container{
  align-items: center;
}

.contact-container h1{
  padding: 10px;
  font-size: 25px;
}

.logo-image{
  height: 70px;
}

.logo-button{
  padding: 25px;
}
