.sum{
    padding: 1%;
}

.contents{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.container{
  align-items: center;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 250%;
    font-weight:bolder;
    margin-top: 8%;
  }

.urlBar{
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

.url {
    width: 30%;
    border: none;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    padding: 0.5%;
  }

.enter textarea{
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-top: 2%;
  padding: 1% 1%;
  border: none;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
}

.popup,.summarize{
  position: relative;
  margin: 3%;
  border: none;
}

.popupBtn,.sumBtn{
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  color: antiquewhite;
  background-color: #4A4A4A;
}

/* .summarize{
  margin-left: 5%;
} */

.popup{
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.output{
  display: flex;
  justify-content:center;
}
